/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  @include spacing-system($padding: 0 10px);

  @include mq { // Start of Media Query
    @include spacing-system($ml: auto, $mr: auto);
    @include img-system($max-w: 1400px);
  }
}

.centered {

  @include mq { // Start of Media Query
    @include spacing-system($ml: auto, $mr: auto);
    @include img-system;
  }
}

.row {
  @include flex-system($direction: column) {

    @include mq { // Start of Media Query
      flex-direction: row;
    }
  };
  @include spacing-system($padding: 1em 10px);
}

[class^=col] {
  @include spacing-system($mt: 10px, $padding: 10px);
  flex-basis: 100%;
  min-height: 25px;
  border-radius: 5px;

  @include mq { // Start of Media Query
    @include flex-system() {
      justify-content: center;
      align-items: center;
    }
    margin-top: 0;
    & + [class^=col] { // selects the NEXT [item that's classname beigns with "col"] after [item that's classname beigns with "col"] — what weird-@$$ selector is this :-p
      margin-left: 10px;
    }
  }
}

.col {
  @include mq { // start of media query
    @include col-system($item-tally: 12);
  }
}

.card {
  flex-basis: 100%;
}

.theme.col {
  @include painter-system($color-list: $theme-colors, $item-tally: 12);
}
